<div id="<%= dom_id quiz %>">
  <p>
    <strong>Operation:</strong>
    <%= quiz.operation %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= quiz.difficulty %>
  </p>

  <p>
    <strong>Total questions:</strong>
    <%= quiz.total_questions %>
  </p>

  <p>
    <strong>User:</strong>
    <%= quiz.user_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= quiz.score %>
  </p>

</div>
